<!doctype.html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Page d'acceuil</title>
    <link rel='stylesheet' href='/static/style.css'>
    <link rel="icon" type="image/x-icon" href="/static/iconbib.png">
  </head>
  <body>
    <div class = "background-image">
    <img src='/static/logolib.png' widht='200px' height='200px'>
    <center>
    <a class='button' href='client.html'><strong>Client</strong></a>
    <a class='button' href='libraire.html'><strong>Librarian</strong></a>
    </center>
    </div>
  </body>
</html>