<!doctype.html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <link rel='stylesheet' href='/static/style.css'>
    <link rel="icon" type="image/x-icon" href="/static/iconbib.png">

  </head>

  <body>
    <form action="/reservation.html" method="POST">
    <p>
      À quel nom souhaitez-vous effectuer la réservation :

      <select name="identifiant" class="form-control">
       <option value="Alexis Limouzin">Alexis Limouzin</option>
       <option value="Tuan Henry">Tuan Henry</option>
       <option value="Killian Trouve">Killian Trouve</option>
       <option value="Matisse de Cornuaud Marcheteau">Matisse de Cornuaud Marcheteau</option>
       <option value="Théo Domengie">Théo Domengie</option>
       <option value="Hansouman Sow">Hansouman Sow</option>
       <option value="Coline Guilmard">Coline Guilmard</option>
       <option value="Julien Lejalle">Julien Lejealle</option>
       <option value="Lea Perrot">Lea Perrot</option>
       <option value="Remi Vanicat">Remi Vanicat</option>
       <option value="Elouan Caro">Elouan Caro</option>

      </select>
    </p>

    <input type ='submit' class='button_petit' value= "Valider"></input>
    </form>
  </body>
